@font-face {
  font-family: "principal";
  src:  url('/font/Meiland Gorgeous.ttf');
}

body{
  background-color: #0f1516;
}

.body {
  height: 400px;
  
}
.letter{
  color: #e7e9eb;
  font-family: principal;
}

.column{
  width:50%;
}
/*.flexcolumn{
  flex-direction: column;
}*/

.espacov{
  margin-top: 100px;
}
.align_justify{
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5;
  font-family: principal;
  margin-left: 20px;
  margin-right: 20px;
}


.align_center{
  line-height: 1.5;
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 20px;
  font-family: principal;
  text-align: center;
}

.align_right{
  line-height: 1.5;
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 20px;
  font-family: principal;
  text-align: right;
}

.align_left{
  line-height: 1.5;
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 20px;
  font-family: principal;
  text-align: left;
}


.subtitulo{
  background-color:#bb99ff;
  font-family: principal;
}



.header .cluster{
  line-height: 1.5;
  font-family: principal;
 background-color: #e7e9eb;
 text-align: center;
 margin-top: 0px;
 margin-bottom: 0px;
}
.mapouter{
  position: relative;
}

.menu{
  width: 100%;
  position: fixed;
  z-index: 3;
}

.header {
  height: 45px;
  width: 100%;
}

.header .menu li{
  display: inline-block;
  text-align: center;

}

.header > .menu > .menu ul{
  margin-top: 0;

}

.button{
  background-color: #282a34;
  border-bottom-color: 10px #666699;
  color: #e7e9eb;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-right: 0px;
  cursor: pointer;
}

.button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}



.roundimg{
  border-style: solid groove;
  border-radius: 50%;
  display: block;
  margin: auto;
  position: relative;
}





.backgroundimg{
background-repeat: no-repeat;
display: block;
height: 150px;
width: 150px;
}


.fundo{
  background-color: #9966ff;
  width: 100%;
}

.root{

  overflow-x: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

#osconhe: hover{



}





/* desktop


*/






@media only screen and (min-width: 800px) {


.divisao{
display: flex;
}

.column{
  margin: auto;
}

.align_center{
  margin-left: 0px;
  margin-right: 0px;
}

.subtitulo{
  text-align: center;
}

.backgroundimg{

  margin: auto;
}

.centroln{
  width: fit-content;
  margin: auto;
}

.caixa{
  width: 80%;
}

.mapouter{
  max-width: 600px;
}


}

/* mobile


*/



@media only screen and (max-width: 800px) {

/*body{
  background-color: red;
}
*/
.menu{
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 2;
}

.column{
  margin: auto;
  width: 100%;
}

.divisao{
  display: block;
}

.centroln{
  width: fit-content;
  margin: auto;
}

.button{
  border-bottom-color: 10px #666699;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  margin-right: 0px;
  padding: 10px;

}
.cluster{
  padding: 0px;
}
#mconhe{
  margin-top: 40px;
}
#mconhe .cluster{
  border-top-width: 3px; 
  border-style: solid; 
  border-color: white;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
}

#mconhe .button{
  margin-top: 2px;
  margin-right: 0px;
  margin-bottom: 3px;
  padding: 4px 5px 4px 5px;
}

#mprojs{
  margin-top: 39px;
  border-top-style: solid;
  border-color: white;
}

#mprojs .button{
padding: 4px 5px 4px 5px;

}
#proj .menu{
  padding-top: 7px;
}

#mexpprog{
  margin-bottom: 2px;
}


.subtitulo{
text-align: center;

}

.fundo{
  margin: 0;
}

.backgroundimg{
margin: auto;
padding-top: 20px;
}
.textstt{
  width: 90%;
  line-height: 1.5;
  margin-top: 10px;
  font-family: principal;
}

.caixa{
  width: 90%;
}

.msg_user{
  margin-bottom: 50px;
}


}


@media only screen and (max-width: 500px) {

.caixa{
  width: 40%;
}

}



}

