@font-face {
  font-family: "principal";
  src:  url('/font/Meiland Gorgeous.ttf');
}

.body {
  height: 400px;
  
}

.column{
  width:50%;
  float: left;
}

.column-ib{
  width:50%;
  display: inline-block;
}


.align_right{
  text-align: right;
}
.header .cluster{
  line-height: 1.5;
  font-family: principal;
 background-color: #b3b3b3;
 text-align: center;
}

.header {
  height: 100px;
  margin-bottom: 5px;
}

.header .menu li{
  display: inline-block;
  text-align: center;
}

.header > .menu > .menu .button{
  padding: 0px 15px;
}
.header > .menu > .menu ul{
  margin-top: 0;
}

.align_center{
  text-align: center;
}

.column4{
  width:25%;
  float: left;
  height:150px;
}

.column4-ib{
  width:25%;
  height: 150px;
  display: inline-block;
}

.align_left{
  text-align: left;
}

.backgroundimg{
background-repeat: no-repeat;
float:  left;
height: 150px;
width: 150px;
}

.button{
  background-color: #f0f0f5;
  border-bottom-color: 10px #666699;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
}
.button{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

.espacov{
  margin-top: 60px;
}
.typeletter{
  line-height: 1.5;
  font-family: principal;
}

.subtitulo{
  background-color:#e6e6e6
}

.roundimg{
  border-style: solid groove;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.fundo{
  background-color: #b3b3b3;
}
.rows{
  display:  inline-block;
  width:  100%;
}
